.box{
  text-align: center;
  position: relative;
  border: 2px; 
  align-items: c;
  margin : auto;
  justify-content: center;
}
ul{
}
.box{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0 10vw 5px 10vw; 
    width: 80vw; 
    height: 5vh; 
 
}

.dN { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 20vw; 
    height: inherit; 
    background-color: #7CB6B1; 
    color: #000000; 
    border-radius: 10px; 
    margin: 3px; 
    font-weight: bold; 
  } 
   
  .Num { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 20vw; 
    height: inherit; 
    background-color: #D3E6E4; 
    border-radius: 10px; 
    margin: 3px 
  }