
* {
  margin: 0;
  padding: 0;
}


.btf{
  text-align: center;
  background-color: cornsilk;
  height: 50px;
}

.btn{
    margin-left: 25px;
    margin-right: 25px;
  border-radius: 5px;
  height: 50px;
  width : 100px;
  background-color: rgb(235, 216, 169);
  font-weight: bold;
}

form{
  padding: 10px;

}

.bottomBox{
  margin:10px;
}

ul{
  list-style: none;
}

h1{
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: darksalmon;
  height: 40px;
  font-display:inherit ;
}

.box{
  text-align: center;
  position: relative;
  border: 2px; 
  align-items: c;
  margin : auto;
  justify-content: center;
}
ul{
}