.World{
  width: 700px;
  background-color: #c6f3ef;
  border: #000000;
}

.box{
  text-align: center;
  position: relative;
  border: 2px; 
  align-items: c;
  margin : auto;
  justify-content: center;
}
.factor{

  border-radius: 5px;
  background-color: rgb(234, 220, 247);
  color: rgb(33, 125, 229);
  margin: 2px;
  font-weight: bolder;
  padding: 5px;
  display:block; 
  width: 35%;
}

.data{
  width : 85%;
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  justify-content: right;
  padding: auto;
  margin-left: 270px;
  margin-bottom: 200px;
}

.box{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 0 10vw 5px 10vw; 
  width: 80vw; 
  height: 5vh; 
}

.dN { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 20vw; 
  height: inherit; 
  background-color: #7CB6B1; 
  color: #1f0303; 
  border-radius: 10px; 
  margin: 3px; 
  font-weight:bolder; 
  } 

  .Num { 
  display: flex; 
  justify-content: center;
  align-items : center;
  width: 20vw; 
  height: inherit; 
  background-color: #D3E6E4; 
  border-radius: 10px; 
  margin: 3px 
  }
.spcul{
  display: flex;
  color: whitesmoke;
}

.nl{
background-color: black;
}

.hbtu{
display: inline-block;
float: left;
background-color: #bdf2f9;
font-weight: bolder;
border-color: rgb(205, 246, 232);
height: 40px;
border-radius: 15px;
color: azure;
}

.btuDiv{
  display: inline-block;
}

.homebtu{
  width: 500px;
  height: 100px;
  font-size: xx-large;
  background-color: #D3E6E4;
  border-radius: 20px;
  margin: 20px;
  font-weight: bolder;
  border-color: rgb(205, 246, 232);
}


* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.cc{
  text-align: center;
  ;
}

.btf{
  text-align: center;
  background-color: rgb(205, 232, 237);
  height: 50px;
}

.btn{
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5px;
  height: 50px;
  width : 100px;
  background-color: rgb(216, 254, 237);
  font-weight: bold;
  border-color: rgb(205, 246, 232);
}

form{
  padding: 8px;
}

.bottomBox{
  margin:10px;
}

ul{
  list-style: none;
  height: 350px;
}

h1{
  text-align: center;
  font-size:xx-large;
  font-weight: bolder;
  ;
  background-color: rgb(108, 163, 240);
  height: 50px;
  color: rgb(235, 255, 255);
  font-display:inherit ;
  margin-top: auto;
  top: 50%;
  bottom: 50%;
  text-shadow: 0px 0 #000, 0 2px #000, 3px 0 #000, 1px 0 #000;
}

.box{
  text-align: center;
  position: relative;
  border: 2px; 
  align-items: c;
  margin : auto;
  justify-content: center;
}


li {
  list-style: none;
  width : 400px;
  border: 2px solid rgb(169, 210, 244);
  background-color: azure;
  border-radius: 10px;
  margin: auto;
  
  text-align: center;
  font-size: large;

}

.box{
  display:flex; 
  justify-content:center; 
  align-items:center; 
  margin: auto; 
  width: 80vw; 
  height: 5vh; 
 
}

.dN { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 20vw; 
  height: inherit; 
  background-color: #e8f5cb; 
  color: #000000; 
  border-radius: 10px; 
  margin: 3px; 
  font-weight: bold; 
  } 
   
  .Num { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 20vw; 
  height: inherit; 
  background-color: #31736d; 
  border-radius: 10px; 
  margin: 3px 
  }

